<input
{% if not property('multipart') %}
    id="{{ property('id') }}" 
{% endif %}
    label="{{ property('name') }}"
    name="{{ property('multipart') ? property('name') : '_tmp' }}"
    type="file"
    {% for key, value in property('additionalAttributes') %}
    {{ key }}="{{ value }}"
    {% endfor %}
    />
    {%- if (property('validationError')) -%}
    <span slot="invalid-text" style="white-space:pre">{{ property('validationError') }}</span>
    {%- endif -%}
{% if not property('multipart') %}
<input id="{{ property('id') }}-contents" type="value" name="{{ property('name') }}[contents]" value="{{ property('value').contents | default('') }}"/>
<input id="{{ property('id') }}-filename" type="value" name="{{ property('name') }}[originalFilename]" value="{{ property('value').originalFilename | default('') }}"/>

<apie-script>
(function (elm) {
    elm.classList.add('handled');
    elm.addEventListener('change', function(event) {
        const file = event.target.files[0]; // Get the selected file

        if (file) {
            document.getElementById('{{ property('id') }}-filename').value = file.name;
            // Create a FileReader object
            const reader = new FileReader();

            // Define the onload event for the reader
            reader.onload = function(e) {
                document.getElementById('{{ property('id') }}-contents').value = e.target.result;
            };
            reader.readAsText(file)
        }
    });
}(document.querySelector('#{{ property('id') }}:not(.handled)')))
</apie-script>
{% endif %}