{% for tab in property('tabs') %}
<template id="{{ property('tmpl') }}{{ tab }}">{{ component(tab) | e }}</template>
{% endfor %}
<div style="margin: 2%; width: 90%; box-shadow: var(--gr-shadow-x-large);">
  <apie-form-select name="{{ property('name').getTypehintName() }}" class="unhandled-tab-split">
</div>
<apie-script>
(function(element){
  element.classList.remove('unhandled-tab-split');
  const templates = {};
  {% for tab in property('tabs') %}
    templates[{{ tab|e|json_encode|raw }}] = {
      label: {{ tab|e|json_encode|raw }},
      templateId: {{ (property('tmpl') ~ tab) |e|json_encode|raw }},
      value: {{ property('valuePerType')[tab]|default(null)|e|json_encode|raw }},
    };
  {% endfor %}
  element.options = templates;
})(document.querySelector('.unhandled-tab-split'));
</apie-script>